// GLOBAL RESET

// CSS CUSTOM PROPERTIES

// css custom properties (variables) are different from sass variables in that:
// they cascade and are inherited, and can be manipulated by JS
// define these variables in root pseudo-class, which is like the html selector but with higher specificity
// the root of the document is the global parent element, so defining our css variables in this scope will make them available throughout the whole document

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-2);
}

///////// MEDIA QUERY BREAK POINTS //////////////////////////////////////////////////////////////////////
// **for media queries must use sass variables, css custom properties don't work** //

$bp-largest: 75em; // 75 em = 1200px
$bp-large: 68.75em; // 68.75em = 1100px
$bp-medium: 56.25em; // 56.25em = 900px
$bp-small: 37.5em; // 37.5em = 600px
$bp-smallest: 31.25em; // 31.25em = 500px;
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px, because 10px/16px (which is the default) = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
