.container {
  max-width: 120rem;
  // if view port less than 1200px then occupy 100% of available viewport width
  margin: 8rem auto; // centers container inside parent (body)
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; // container won't shrink to less than 500px
}

.header {
  font-size: 1.4rem;
  height: 7 rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  width: 100%;
  display: flex; // parent flex-container for logo, input box, magnifying glass etc
  justify-content: space-between; // align items along main axis
  align-items: center; // align items along cross-axis
}

.content {
  //flex-container
  display: flex;
}

.sidebar {
  //flex-item
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // grow and shrink set to 0, flex-basis (width) to 18%
}

.hotel-view {
  //flex-item
  background-color: #fff;
  flex: 1; // makes element grow as much as it can
}
